doctype html
html(
  data-ng-app="skeleton"
)
  head
    meta(charset="UTF-8")
    meta(
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    )
    script(type="text/javascript" src="app.js")

    link(rel="stylesheet" type="text/css" href="main.css")
    title(
      data-ng-bind="'Skeleton - ' + pageTitle"
    ) Skeleton
  body(
    data-ng-view
  )
    div
     | Hello World!
